{% extends "base.html" %} {% block public_content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-5 col-lg-4">
      <div class="card card-soft p-3">
        <h4 class="mb-1">Hospital HMS</h4>
        <div class="muted mb-3">Login to continue</div>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button class="btn btn-soft w-100">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
